<style>
header, nav, main, footer, aside { display: block; }
* { box-sizing: border-box;}
body { margin:0;
       background-color: #ffffffcc; 
                color:white}

header { background-image: url("bokeh copy.jpg");
        background-color: #838383;
         background-position: bottom;
         background-repeat: repeat-x;
         height: 120px;
         color: #ffffff;
         text-align: right;
         padding: 0 20px;
         border-bottom: 2px solid #000000; }
nav { float: left;
      width: 150px;
    }
nav a { text-decoration: none;
        font-size: 1.2em; }
nav a:link { color:whitesmoke;}
nav a:visited { color: black; }
nav a:focus, nav a:hover { color: gray; }
nav a:active { color: #000000;}

form {
        background-color: #9e7777;
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
}
Label { float: left;
        width: 100px;
        clear:left;
        text-align: right;
        padding-right: 10px;
        margin-top: 10px;
}
input, textarea { margin-top: 10px;
                display: block;}
#mysubmit { margin-left: 110px;}
