
form {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
Label { float: left;
    width: 100px;
    clear:left;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
}
input, textarea { margin-top: 10px;
            display: block;}
#mysubmit { margin-left: 110px;}